{% load staticfiles %}
{#<div class="content">#}
{#	<div class="name_card">#}
{#		<dl class="name clearfix">#}
{#			<dt><a href="http://www.jsfoot.com/"><img class="picborder_r" alt="猫头鹰" src="" /></a></dt>#}
{#			<dd>#}
{#				<p>#}
{#					<a href="http://www.jsfoot.com/">{{ user.nick_name }}</a>#}
{#					<span>( <a href="javascript:;">设置备注</a> )</span>#}
{#				</p>#}
{#				<p class="address">广东 广州 </p>#}
{#				<div>#}
{#					<ul class="userdata clearfix">#}
{#						<li><a href="http://www.jsfoot.com/">关注</a> 1095</li>#}
{#						<li class="W_vline">|</li>#}
{#						<li><a href="http://www.jsfoot.com/">粉丝</a> 963万</li>#}
{#						<li class="W_vline">|</li>#}
{#						<li><a href="http://www.jsfoot.com/">微博</a> 63514</li>#}
{#					</ul>#}
{#				</div>#}
{#			</dd>#}
{#		</dl>#}
{#		<dl class="info clearfix">#}
{#			<dt>简介：</dt>#}
{#			<dd>微博搞笑中心！每天搜罗最搞笑最好玩的微博。关注我，获得每日新鲜笑料...</dd>#}
{##}
{#		</dl>#}
{#		<div class="links clearfix">#}
{#			<p>#}
{#				<span class="W_chat_stat W_chat_stat_online"></span>#}
{#				<a href="javascript:;">聊天</a>#}
{#				<span class="W_vline">|</span>#}
{#				<span><a href="javascript:void(0);">求关注</a></span>#}
{#				<span class="W_vline">|</span>#}
{#				<span><a href="javascript:;">设置分组</a></span>#}
{#			</p>#}
{#			<div class="W_btn_c">#}
{#				已关注#}
{#				<em class="W_vline">|</em>#}
{#				<a class="W_linkb" href="javascript:;"><em>取消</em></a>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}

<div class="container">
    <div class="row clearfix">
        <div style="width: 250px;height: 170px">
            <table class="table table-condensed">
                <div class="answer-card-header">
                    <img src="{{ MEDIA_URL }}{{ user.get_image_url }}" class="img-rounded" height="15" width="15">
                    <div class="user-info">
                        <a href="{% url 'user_detail' user.id %}"
                           class="user-name">{{ user.nick_name }}</a>
                        <div class="user-intro">{{ user.desc|slice:"10" }}</div>
                    </div>

                </div>
                <tbody>
                <thead>
                <tr>
                    <th>
                        回答
                    </th>
                    <th>
                        文章
                    </th>
                    <th>
                        关注者
                    </th>

                </tr>
                </thead>
                <tr>
                    <td>
                        <div id="useranswers">{{ user.answer_set.count }}</div>
                    </td>
                    <td>
                        <div id="userarticles">{{ user.article_set.count }}</div>
                    </td>
                    <td>
                        <div id="userfollowees">{{ user.followers.count }}</div>
                    </td>
                </tr>

                </tbody>
            </table>
            <button id="followuser" type="submit" onclick="followuser(this,{{ user.id }})" class="btn btn-default">
                {% if followed %}
                    已关注
                {% else %}
                    关注{% if user.gender == "M" %}他 {% else %}她{% endif %}
                {% endif %}
            </button>
            <button type="button" class="btn btn-default">发私信</button>
        </div>

    </div>
</div>
</div>

<script type="text/javascript">

    function followuser(x,userid) {
        console.log(userid);
        let link = '/userfollow/'+userid ;
    fetch(link, {
        method: 'GET',
        credentials: 'include'
    }).then(response => response.json()
    ).then(data => {
        if (!data.r) {
            $(x).text("关注{% if user.gender == "M" %}他{% else %}她{% endif %}");

        } else {
             $(x).text("已关注")
        }
    });
    }
</script>